# Replace these values with the ones provided in your Twitter developer account
# Remove the ".example" file extension
# Don't change the variable names
CONSUMER_KEY=oauth_api_key
CONSUMER_SECRET=oauth_api_secret_key
ACCESS_KEY=oauth_access_token
ACCESS_SECRET=oauth_access_token_secret